$rich-black: #0E171B;
$alice-blue : #D8E5EA;
$airforce-blue : #57899E;
$gunmetal:#1D2E35;
$gunmetal2: #182D39;
$gunmetal3:#152328;
$white: #FFFFFF;
$payne-grey:#395C6A;
$af-white:#F2F6F8;
$columbia-blue:#CADBE3;
$eerie-black:#1E1E1F;
$charcoal:#1E3948;
$ebony :#5C6751;
$ebony2 : #47503F;
$alabaster : #D6DBD1;