@use "../abstracts/mixins";
@use "../abstracts/variables" as var;

.contact__inquiries{
    display: grid;
    align-items: center;
    text-align: center;

    background-color: var.$af-white;
}

.contact__title--secondary{
    font-family: "Source Sans 3", serif;
    font-size: 2rem;
    text-transform: lowercase;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.contact__form{
    padding-bottom: 2rem;
}

.contact__group{
    font-family: "Source Sans 3", serif;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem; 
    margin-bottom: 1.5rem; 
}

.contact__label{
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    @include mixins.respond("big-desktop") {
        font-size: 1.75rem;
    }
}

.contact__input,
.contact__textarea {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 4px;
    width: 50%;
    text-align: center;
    margin: auto;
    border: none;
}

.contact__textarea{
    height: 10rem;
    resize:none;
}

.contact__details{
    font-family: "Source Sans 3", serif;
    display:grid;
    text-align: center;

    padding-bottom: 2rem;
}

.contact__title--tertiary{
    font-size: 2rem;
    text-transform: lowercase;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.contact__specifics--title{
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 1rem;

    @include mixins.respond("tab-port") {
        font-size: 1.25rem;
    }
    @include mixins.respond("tab-land") {
        font-size: 1.5rem;
    }
    @include mixins.respond("big-desktop") {
        font-size: 1.75rem;
    }
}